<div class="container-fluid px-4 px-md-5 my-4">
  <strong class="d-block text-start my-5 clash-font blue-font-title">/Macval</strong>

  <div class="row">
    <div class="col-12 col-md-8 mb-5">
      <p class="blue-txt-courant">
        Le logo du MAC VAL s’appuie sur ses fondamentaux. Être le seul musée exclusivement consacré à la scène artistique en France. Depuis les années 1950, il réussit à mettre son imagination au service du public en proposant des actions innovantes. La typographie manuscrite de par sa réalisation fait main rappelle les bases de la création d’une œuvre. <br> Le rectangle a pour but de représenter une porte d’entrée sur le monde de l’art.
      </p>
    </div>
  </div>


  <div class="full-width-card my-5">
    <div class="card-content">
      <%= image_tag 'macval/bandeau web noir.jpg',
            alt: 'Urban Poster Mockup',
            class: 'img-fluid' %>
    </div>
  </div>

  <div class="cards my-5">
    <div class="project-card d-block text-decoration-none h-100"
         style="background-image: url(<%= asset_path 'macval/logo.gif' %>); background-size: cover; background-position: center;">
    </div>

    <div class="project-card d-block text-decoration-none h-100 video-card">
      <%= image_tag 'macval/expo-affiche-2.jpeg', alt: 'Catalogue animation', class: 'img-fluid w-100 h-100 object-fit-cover' %>
    </div>
  </div>

  <div class="full-width-card my-5">
    <div class="card-content">
      <%= image_tag 'macval/Branding_Mockup_2.jpg',
            alt: 'Urban Poster Mockup',
            class: 'img-fluid' %>
    </div>
  </div>

  <div class="cards my-5">
    <div class="project-card d-block text-decoration-none h-100"
         style="background-image: url(<%= asset_path 'macval/expo-affiche-1.jpg' %>); background-size: cover; background-position: center;">
    </div>

    <div class="project-card d-block text-decoration-none h-100 video-card">
      <%= image_tag 'macval/magnet.jpeg', alt: 'Catalogue animation', class: 'img-fluid w-100 h-100 object-fit-cover' %>
    </div>
  </div>

  <div class="cards my-5">
    <div class="project-card d-block text-decoration-none h-100"
         style="background-image: url(<%= asset_path 'macval/MU-a-entree-2.jpg' %>); background-size: cover; background-position: center;">
    </div>

    <div class="project-card d-block text-decoration-none h-100 video-card">
      <%= image_tag 'macval/MU-CENTRE-DE-DOC-2.jpeg', alt: 'Catalogue animation', class: 'img-fluid w-100 h-100 object-fit-cover' %>
    </div>
  </div>
</div>
